@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
} */
@media screen and (max-width: 420px) {
  .divider {
    display: none;
  }
  .navbar {
     /* background-color: lightblue; */
  }
}
@media screen and (min-width: 420px) and (max-width: 640px) {
  .divider {
    display: none;
  }
  .navbar {
     /* background-color: green; */
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .divider {
     display: none;
  }
  .navbar {
     /* background-color: red; */
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .divider {
    display: none;
  }
  .navbar {
     /* background-color: purple; */
  }
}
@media screen and (min-width: 1024px) {
  .divider {
     /* background-color: orange; */
  }
  .navbar {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  background: #915EFF;
  background: linear-gradient(-90deg, #915EFF 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #915EFF 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

/* Define the scrollbar strip style */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 2px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 2px;
}
