@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 100px) and (max-width: 420px) {
  .divider {
    display: none;
  }
  .navbar {
  }
  .auth_in_body {
    padding: 40px;
  }
  .scroll_body {
    overflow-y: scroll;
  }
}
@media screen and (min-width: 420px) and (max-width: 640px) {
  .divider {
    display: none;
  }
  .navbar {
  }
  .auth_body {
    height: 100vh;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .divider {
    display: none;
  }
  .navbar {
  }
  .auth_body {
    height: 100vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .divider {
    display: none;
  }
  .navbar {
  }
}
@media screen and (min-width: 1024px) {
  .divider {
  }
  .navbar {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  background: #915eff;
  background: linear-gradient(-90deg, #915eff 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #915eff 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 2px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 2px;
}
