.button {
  cursor: pointer;
  background-position: top;
  background-size: 100% 200%;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.button:hover {
  background-position: bottom;
}

.inline {
  display: inline-block;
}

.blue {
  background-image: linear-gradient(
    rgb(0, 0, 0, 0.1) 50%,
    rgb(0, 132, 255) 50%
  );
  color: #0070f3;
}

.blue:hover {
  color: white;
}

.green {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 50%, #20ab46 50%);
}

.green:hover {
  color: white;
}
